<html>
	<body>
		<div id="header" class="welcome">
			<h1>Hello, Rails!</h1>
		</div>
		<div id="main" class="welcome menu">
			<%= link_to 'Articles', controller: 'articles' %>
		</div>
	</body>
</html>