// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #8B8989;
}

div.welcome h1 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

div.welcome {
	margin-left: 9%;
    margin-right: 9%;
	width: 80%;
	background-color: #EEE9E9;
}

.menu a {
	font-size: 1.5em;
    padding: 1em;
    display: block;
}

div#header {
	margin-top: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}

div#main {
	position: fixed;
	height: 100%;
	margin-top: 2em;
}
